.profile {
    transform: scale(0.5);
}

.left-img {
    transform: scale(0.4);
    margin: 0 -2rem 0 -1rem;
}

/* .party::after {
    content: ".";
    color: red;
    font-size: 5rem;
} */
.all {
    background-color: hsl(210, 60%, 98%);
    padding: 0 0 1rem 0;
    cursor: pointer;
}

.notify {
    height: fit-content;
    display: flex;
    align-items: center;
    font-size: small;
    border-radius: 5%;
    padding: 0 0 1rem 0;
    margin: 0 0 1rem 0;
    object-fit: contain;
}

.party, .name {
    font-weight: 700;
}

.name:hover, .party:hover {
    color: hsl(219, 85%, 26%);
}

.time {
    margin: -9% 0 0 14%;
    font-size: 0.9rem;
}

.red {
    color: red;
    font-size: 3rem;
    padding: 1rem;
    margin-top: -2.5rem;
}

.dm {
    width: 65%;
    padding: 0.5rem 0 0 0.5rem;
    margin: auto;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    background-color: #fff;
    border: 0.1px solid rgba(0, 0, 0, 0.1);

}

.dm:hover {
    background-color: hsl(211, 68%, 94%);
}

@media screen and (max-width: 750px) {
    .time {
        margin: -12% 0 0 17%;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 400px) {
    .time {
        margin: -17% 0 0 30%;
        font-size: 0.9rem;
    }
}
