.num {
    font-size: 1.3rem;
    background-color: hsl(219, 85%, 26%);
    color: #fff;
    padding: 0rem 0.4rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 0.5rem;
}

.cont {
    display: flex;
    object-fit: contain;
    padding-top: 1rem;
    margin-bottom: -2.5rem;
    user-select: none;
}

.mark-read {
    padding: 1rem;
    cursor: pointer;;
}

